﻿body {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 16px;
    color: #333;
}

.content {
    width: 50%;
    margin: 50px auto;
}

h1 {
    margin-bottom: 30px;
}

.btn-group {
    margin-bottom: 30px;
}

.no-data {
    color: #b60000
}
