﻿<!DOCTYPE html>

<html ng-app="app">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <title>AGL Coding Exercise</title>
</head>
<body ng-controller="main.controller as vm">

    <div class="content">
        <h1>AGL Coding Exercise</h1>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.load('cat')" ng-class="{'active' : vm.petType === 'cat'}">Cat</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.load('dog')" ng-class="{'active' : vm.petType === 'dog'}">Dog</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="vm.load('fish')" ng-class="{'active' : vm.petType === 'fish'}">Fish</button>
            </div>
        </div>
        <h3>Displaying all {{vm.petType}} pets grouped by owner gender</h3>
        <div class="panel panel-default">
            <div class="panel-heading">Male</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="pet in vm.pets.petsWithMaleOwners">{{pet.name}}</li>
                <li class="list-group-item no-data" ng-show="vm.pets.petsWithMaleOwners.length === 0">No data</li>

            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Female</div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="pet in vm.pets.petsWithFemaleOwners">{{pet.name}}</li>
                <li class="list-group-item no-data" ng-show="vm.pets.petsWithFemaleOwners.length === 0">No data</li>
            </ul>
        </div>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <!--application scripts - can be bundled and minified-->
    <script src="app/app.module.js"></script>
    <script src="app/main.controller.js"></script>
    <script src="app/data.service.js"></script>
</body>
</html>